<div class="container" style="padding-top:15px">
    <h2>Manage News</h2>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col pull-right"><button class="btn btn-primary " data-toggle="modal" data-target="#addNews">Add News</button></div>
            </div>
            <br />
            <table style="width:100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable md">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">S/N</th>
                        <th class="mdl-data-table__cell--non-numeric">Title</th>
                        <th class="mdl-data-table__cell--non-numeric">Content</th>

                        <th class="mdl-data-table__cell--non-numeric">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="news in news" ng-click="viewNews(news)">
                        <td class="mdl-data-table__cell--non-numeric">{{$index + 1}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{news.title}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{news.content}}</td>

                        <td class="mdl-data-table__cell--non-numeric">{{news.createdTime | date:small}}</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>
