<div class="container" style="padding-top:15px">
    <h2>Manage Notifications</h2>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col pull-right"><button class="btn btn-primary " data-toggle="modal" data-target="#addNote">Add Notification</button></div>
            </div>
            <br />
            <table style="width:100%" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable md">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">S/N</th>
                        <th class="mdl-data-table__cell--non-numeric">Title</th>
                        <th class="mdl-data-table__cell--non-numeric">Content</th>

                        <th class="mdl-data-table__cell--non-numeric">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="note in notes">
                        <td class="mdl-data-table__cell--non-numeric">{{$index}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{note.title}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{note.content}}</td>

                        <td class="mdl-data-table__cell--non-numeric"><button ng-hide="class.cdone" ng-click="startClass(class)" class="btn btn-sm " style="background-color:lawngreen; color:white"><i class="fa fa-play"></i></button></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</div>
